{
  "presets": [
    [
      "@vue/app",
      {
        "polyfills": ["es.object.entries", "es.promise"]
      }
    ]
  ],
  "plugins": [
    [
      "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
    ]
  ],
  "comments": false
}
