# Node artifact files
node_modules/
dist/

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# JetBrains IDE
.idea/


**/__pycache__/
*.pyc
docker-compose.heroku.yml
deploy_fly.sh
docker-compose.local.yml
nginx_template.local.yml