psycopg2==2.9.3
pytz==2022.1
SQLAlchemy==1.4.32
pyexecjs==1.5.1
bs4==0.0.1
bcrypt==3.2.0
lxml==4.9.1
python-telegram-bot==13.13

requests==2.27.1
kombu==5.2.4
redis==4.2.0
pycrypto==2.6.1
werkzeug==3.0.0
